# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
.next
out

# Foundry & Smart Contract Artifacts
broadcast/
cache/

# Environment variables & secrets
.env
.env.local
.env.*.local
*.pem
*.key
components/r.txt

# Turborepo
.turbo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Operating System
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
*.swp
*.swo

# Docker / local infra data
.docker-data/
minio-data/
redpanda-data/
postgres-data/

# Coverage
coverage
.nyc_output
